# ======================================
# Config ===============================
php:
	date.timezone: Europe/Prague
	# session.save_path: %tempDir%/session

# ======================================
# Parameters ===========================
parameters:
	database:
		driver: pdo_pgsql
		host: 0.0.0.0
		dbname: contributte
		port: 5432
		user: contributte
		password: contributte

# ======================================
# Extensions ===========================
extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension

	nettrine.orm: Nettrine\ORM\DI\OrmExtension

application:
	mapping: App\UI\*\**Presenter

nettrine.dbal:
	connections:
		default:
			driver: %database.driver%
			host: %database.host%
			port: %database.port%
			dbname: %database.dbname%
			user: %database.user%
			password: %database.password%
			charset: UTF8
			serverVersion: '17'
	debug:
		panel: %debugMode%
		sourcePaths: [%appDir%]

nettrine.orm:
	managers:
		default:
			connection: default
			mapping:
				App:
					type: attributes
					directories: [%appDir%]
					namespace: App

# ======================================
# Services =============================
services:
	- App\Model\RouterFactory::createRouter
